@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
</head>
<body>
    <div>
        <h1>hell wowld</h1>

        <table>
            <thead>
                <th>用户名</th>
                <th>电话</th>
                <th>真实姓名</th>
                <th>邮箱</th>
            </thead>
            <tbody>
                <td>@Model.u_name</td>
                <td>@Model.u_telephone</td>
                <td>@Model.real_name</td>
                <td>@Model.u_email</td>
            </tbody>
        </table>


    </div>
</body>
</html>
